00050NEW CUSTOMER        0050000                                                
00100JOHN DOE            0017500                                                
00200JANE SMITH          0050050                                                
00250JACK ROBINSON       0020000                                                
00400TOM JONES           0040000                                                
00600MARY WILLIAMS       0020000                                                
00650NEW CLIENT TWO      0010000                                                
00800CHRIS BROWN         0006000                                                
00900LATE CUSTOMER       0015000                                                 
