00100JOHN DOE            0010000                                        
00200JANE SMITH          0050050                                        
00300BOB MARLEY          0000000                                        
00400TOM JONES           0025000                                        
00500ALICE COOPER        0099999                                        
00600MARY WILLIAMS       0012500                                        
00800CHRIS BROWN         0003000                                        
